<form method="post" action="{{ path('app_coffee_shop_delete', {'id': coffee_shop.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coffee_shop.id) }}">
    <button class="btn text-black-600 hover:text-orange-800 font-bold">Delete</button>
</form>
