<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-beige">
        <nav class="bg-white">
            <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex items-center justify-center px-4">
                    <a href="/">
                        <h1 class="text-mango font-bold text-center align-content-center">EL CAFE</h1>
                    </a>
                    </div>
                        <div>
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="#" class="text-dark-coffee-bold hover:bg-beige px-3 py-2 rounded-md text-sm font-medium">Coffee</a>

                                <a href="#" class="text-dark-coffee-bold  hover:bg-beige  px-3 py-2 rounded-md text-sm font-medium">Coffee-Shop</a>
                            {% if app.user %}
                                <a href="#" class="text-dark-coffee-bold hover:bg-beige px-3 py-2 rounded-md text-sm font-medium">Favoris</a>

                            {% endif %}
                            </div>
                        </div>
                    </div>
                      {% if app.user == null %}
                      
                     <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-mango hover:bg-light-coffee focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dark-coffee" >
                     <a href="{{ path('login') }}">Connexion</a>
                     </button>
                    {% endif %}
                    {% if app.user %}
                    <div class="flex items-center justify-center h-10 w-10 rounded-full text-dark-coffee hover:text-mango">
                    <a href="/profil">
              <!-- Heroicon name: outline:user -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </a>
                    </div>
                     <button class="inline-flex justify-center mx-10 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-mango hover:bg-light-coffee focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-dark-coffee"> <a href="/logout"> Déconnexion </a></button>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
